<%= form_for(@reporte) do |f| %>
  <% if @reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% @reporte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :acta_id %><br />
    <%= f.number_field :acta_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
