<h1>Reportes de Problemas o Situaciones Sospechosas</h1>

<div class="pagination-centered" style="padding:20px 0px">
  <%= will_paginate @reportes, :inner_window=>6, :outer_window=>6%>
</div>

<table style="width:100%">
  <tr>
    <th width="200">Fecha</th>
    <th width="100">Acta</th>
	<th width="80">Usuario</th>
    <th>Mensaje</th>
  </tr>

<% @reportes.each do |reporte| %>
  <tr>
    <td><%= reporte.date.strftime("%d/%b/%Y - %k:%M:%S")%></td>
    <td><%= link_to "%05d" % reporte.actum.numero, actum_type_path(:type=>reporte.actum.full_type,:id=>reporte.actum.numero)%> (<%=reporte.actum.full_type.titleize%>)</td>
    <td><a href="<%=user_profile_path(reporte.user.id)%>"><img src="https://graph.facebook.com/<%=reporte.user.uid%>/picture?width=35&height=35" alt="<%=reporte.user.shortname%>" title="<%=reporte.user.shortname%>"></a></td>
    <td><%= reporte.body %></td>
  </tr>
<% end %>
</table>

<div class="pagination-centered" style="padding:20px 0px">
  <%= will_paginate @reportes, :inner_window=>6, :outer_window=>6%>
</div>

 
 