<td><%=verification.ud%></td>
<td><%=verification.dc%></td>
<td><%=verification.alianza%></td>
<td><%=verification.liberal%></td>
<td><%=verification.pac%></td>
<td><%=verification.libre%></td>
<td><%=verification.faper%></td>
<td><%=verification.pinu%></td>