<table id="stored-data"style="float:left">
	<tr>
		<td><b>Numero:</b></td><td><%="%05d" % @actum.numero %></td>
	</tr>

        <tr>
	  <td><b>Recibidas:</b></td><td><%= @actum.recibidas %></td>
	</tr>
        <tr>
	  <td><b>Sobrantes:</b></td><td><%= @actum.sobrantes %></td>
	</tr>
        <tr>
	  <td><b>Votos de Ciudadanos:</b></td><td><%= @actum.ciudadanos %></td>
	</tr>
        <tr>
	  <td><b>Votos de Miembros MER:</b></td><td><%= @actum.miembros_mer %></td>
	</tr>

        <tr>
		<td><b>UD:</b></td><td><%= @actum.ud %></td>
	</tr>
	<tr>
		<td><b>Alianza de Oposición Contra la Dictadura (Libre-Pinu):</b></td><td><%= @actum.libre_pinu %></td>
	</tr>

	<tr>
		<td><b>Vamos:</b></td><td><%= @actum.vamos %></td>
	</tr>
        <tr>
		<td><b>DC:</b></td><td><%= @actum.dc %></td>
	</tr>
        <tr>
		<td><b>Liberal:</b></td><td><%= @actum.liberal %></td>
	</tr>
        <tr>
		<td><b>Alianza Patriótica</b></td><td><%= @actum.alianza_patriotica %></td>
	</tr>
        <tr>
		<td><b>Frente Amplio:</b></td><td><%= @actum.frente_amplio %></td>
	</tr>
	<tr>
		<td><b>PAC:</b></td><td><%= @actum.pac %></td>
	</tr>
	<tr>
		<td><b>Nacional:</b></td><td><%= @actum.nacional %></td>
	</tr>

	<tr>
		<td><b>Blancos:</b></td><td><%= @actum.blancos %></td>
	</tr>
	<tr>
		<td><b>Nulos:</b></td><td><%= @actum.nulos %></td>
	</tr>
        <tr>
          <td><b>Número de Firmas de Miembros MER (columna derecha):</b></td>
          <td><%= @actum.firmas %></td>
        </tr>
        <tr> 
	  <td><b>Total Papeletas Utilizadas (Recibidas - Sobrantes):</b></td><td><%=@totalActas%></td>
	</tr>
        <tr> 
	  <td><b>Total Votos Reportados (Ciudadanos + MER):</b></td><td><%=@totalVotosReportados%></td>
	</tr>
	<tr> 
	  <td><b>Total Votos:</b></td><td><%=@totalVotos%></td>
	</tr>
	<tr>
	  <td><b>Totales iguales?:</b></td><td><%=@actum.is_sum_ok ? "Si" : "No"%></td>
	</tr>
	<tr>
		<td><b>Ingresada por</b></td><td><a href="http://facebook.com/<%=@actum.user.uid%>" target="_blank"><img src="https://graph.facebook.com/<%=@actum.user.uid%>/picture?width=35&height=35" alt="<%=@actum.user.shortname%>" title="<%=@actum.user.shortname%>"></a></td>
	</tr>
	<% if @actum.verified_count>0%>
	<tr>
		<td><b>Verificado:</b></td><td><%= @actum.verified_count %> veces</td>
	</tr>
	<%end%>
</table>

<table id="editable-data" style="display:none">
	<tr>
		<td><b>Numero:</b></td><td><%="%05d" % @actum.numero %></td>
	</tr>
         <tr>
	  <td><b>Recibidas:</b></td><td><%= f.number_field :recibidas %></td>
	</tr>
        <tr>
	  <td><b>Sobrantes:</b></td><td><%= f.number_field :sobrantes %></td>
	</tr>
        <tr>
	  <td><b>Votos de Ciudadanos:</b></td><td><%= f.number_field :ciudadanos %></td>
	</tr>
        <tr>
	  <td><b>Votos de Miembros MER:</b></td><td><%= f.number_field :miembros_mer %></td>
	</tr>
        <tr>
		<td><b>UD:</b></td><td><%= f.number_field :ud %></td>
	</tr>
        <tr>
		<td><b>Alianza de Oposición Contra la Dictadura (Libre-Pinu):</b></td><td><%= f.number_field :libre_pinu %></td>
	</tr>
        <tr>
		<td><b>Vamos:</b></td><td><%= f.number_field :vamos %></td>
	</tr>
	<tr>
		<td><b>DC:</b></td><td><%= f.number_field :dc%></td>
	</tr>
        <tr>
		<td><b>Liberal:</b></td><td><%= f.number_field :liberal %></td>
	</tr>
	<tr>
		<td><b>Alianza Patriótica:</b></td><td><%= f.number_field :alianza_patriotica %></td>
	</tr>
        <tr>
		<td><b>Frente Amplio:</b></td><td><%= f.number_field :frente_amplio %></td>
	</tr>
	<tr>
		<td><b>PAC:</b></td><td><%= f.number_field :pac %></td>
	</tr>
	<tr>
		<td><b>Nacional:</b></td><td><%= f.number_field :nacional %></td>
	</tr>

	<tr>
		<td><b>Blancos:</b></td><td><%= f.number_field :blancos %></td>
	</tr>
	<tr>
		<td><b>Nulos:</b></td><td><%= f.number_field :nulos %></td>
	</tr>
        <tr>
          <td><b>Número de Firmas de Miembros MER (columna derecha):</b></td>
          <td><%= f.number_field :firmas %></td>
        </tr>
       
	<tr>
	  <td><b>Suma de Votos Digitados:</b></td><td class="total-sum"><span id="vote-sum" ><%=@totalVotos%></span></td>
	</tr>
        <tr>
	  <td><b>Total de Votos Reportados:</b></td><td class="total-sum"><span id="reported-sum" ><%=@totalVotosReportados%></span></td>
	</tr>
        <tr>
	  <td><b>Total de Papeletas Utilizadas:</b></td><td class="total-sum"><span id="actas-sum" ><%=@totalActas%></span></td>
	</tr>
        <%=f.hidden_field :is_sum_ok %>
	<%if current_user.is_admin and @actum.verifications.count>0%>
	   <tr>
		<td colspan="2"><b><%=f.check_box :image_changed, :style=>"width:15px"%> ¿La imagen cambio?</b></td>
	</tr>
	<%end%>
</table>
