<td><%=verification.dc%></td>
<td><%=verification.alianza_patriotica%></td>
<td><%=verification.liberal%></td>
<td><%=verification.pac%></td>
<td><%=verification.libre_pinu%></td>
<td><%=verification.ud%></td>
<td><%=verification.vamos%></td>
<td><%=verification.frente_amplio%></td>
<td><%=verification.nacional%></td>
