<h1>Listado de Actas</h1>

<p>
<a href="acta/1?random=1"> Verificar Acta</a>
</p>
<table>
  <tr>
    <th>Numero</th>
    <th>Liberal</th>
    <th>Nacional</th>
    <th>Libre</th>
    <th>Pac</th>
    <th>Ud</th>
    <th>Dc</th>
    <th>Alianza</th>
    <th>Pinu</th>
    
    <th>Blancos</th>
    <th>Nulos</th>
    
    <th>Verificaciones</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @acta.each do |actum| %>
  <tr>
    <td><%= actum.numero %></td>
    <td><%= actum.liberal %></td>
    <td><%= actum.nacional %></td>
    <td><%= actum.libre %></td>
    <td><%= actum.pac %></td>
    <td><%= actum.ud %></td>
    <td><%= actum.dc %></td>
    <td><%= actum.alianza %></td>
    <td><%= actum.pinu %></td>
      <td><%= actum.blancos %></td>
      <td><%= actum.nulos %></td>
      
    <td><%= actum.verified_count %></td>
    <td><%= link_to 'Show', actum %></td>
    <td><%= link_to 'Edit', edit_actum_path(actum) %></td>
    <td><%= link_to 'Destroy', actum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<tr>
   <td>Totales </td>
   <td><b><%= @sumLiberal %></b></td>
   <td><b><%= @sumNacional %></b></td>
   <td><b><%= @sumLibre %></b></td>
   <td><b><%= @sumPac %></b></td>
   <td><b><%= @sumUD%></b></td>
   <td><b><%= @sumDC %></b></td>
   <td><b><%= @sumAlianza %></b></td>
   <td><b><%= @sumPinu %></b></td>
     <td><b><%= @sumBlancos %></b></td>
     <td><b><%= @sumNulos %></b></td>
     
   <td> </td>
   <td> </td>
   <td> </td>
   <td> </td>
 </tr>


</table>

<br />

<%= link_to 'Registrar Acta', new_actum_path %>
