<h1>Listado de Actas</h1>
<table>
  <tr>
    <th>Numero</th>
    <th>Liberal</th>
    <th>Nacional</th>
    <th>Libre</th>
    <th>Pac</th>
    <th>Ud</th>
    <th>Dc</th>
    <th>Alianza</th>
    <th>Pinu</th>
    <th>Blancos</th>
    <th>Nulos</th>
    <th>Ingresada por</th>
    <th>Verificaciones</th>
    <th></th>
  </tr>

<% @acta.each do |actum| %>
  <tr>
    <td><%="%05d" % actum.numero %></td>
    <td><%= actum.liberal %></td>
    <td><%= actum.nacional %></td>
    <td><%= actum.libre %></td>
    <td><%= actum.pac %></td>
    <td><%= actum.ud %></td>
    <td><%= actum.dc %></td>
    <td><%= actum.alianza %></td>
    <td><%= actum.pinu %></td>
    <td><%= actum.blancos %></td>
    <td><%= actum.nulos %></td>
    <td><a href="http://facebook.com/<%=actum.user.uid%>" target="_blank"><img src="https://graph.facebook.com/<%=actum.user.uid%>/picture?width=35&height=35" alt="<%=actum.user.shortname%>" title="<%=actum.user.shortname%>"></a></td>
    <td><%= actum.verified_count %> / <%=VERIFICATIONS%></td>
    <td>
	   <%if actum.verified_count>=VERIFICATIONS or actum.user_id==current_user.id%>
         <%= link_to 'Ver', actum %>
       <%else%>
         <%= link_to 'Validar', actum %>
       <%end%>
	</td>
  </tr>
<% end %>

<tr>
   <td>Totales </td>
   <td><b><%= @sumLiberal %></b></td>
   <td><b><%= @sumNacional %></b></td>
   <td><b><%= @sumLibre %></b></td>
   <td><b><%= @sumPac %></b></td>
   <td><b><%= @sumUD%></b></td>
   <td><b><%= @sumDC %></b></td>
   <td><b><%= @sumAlianza %></b></td>
   <td><b><%= @sumPinu %></b></td>
   <td><b><%= @sumBlancos %></b></td>
   <td><b><%= @sumNulos %></b></td>
   <td></td>
   <td><b><%= @sumVerified %></b></td>
   <td></td>
 </tr>
</table>


