<div class="row">
	<form action="/search" method="GET">
	    <div class="col-md-6">
		<input type="text" class="form-control" placeholder="Número de Acta" name="numero">
		<input type="hidden" name="type" value="<%=@actum_short_type=="a"? "alcalde" : "presidente"%>">
	</div>
    <div class="col-md-6">
	    <button type="submit" class="btn btn-primary btn-normal">  <span class="glyphicon glyphicon-search"> </span> Buscar</button>
	</div>
	</form>
</div>

<%if @pending_actas.length>0%>
<h1>Actas pendientes de completar</h1>
A&uacute;n tienes que completar estas actas:
 <table>
  <tr>
    <th>Numero</th>
    <th>Hora de ingreso</th>
    <th></th>
  </tr> 
  <%@pending_actas.each do |actum|%>
  <tr>
    <td><%="%05d" % actum.numero %></td>
    <td><%=actum.created_at.strftime("%d/%b/%Y - %k:%M:%S")%></td>
    <td>
      <%= link_to actum_type_path(:type=>Actum.full_type(actum.actum_type),:id=>actum.numero) do %><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span> Completar</button></a><%end%>
	</td>
  </tr>
  <%end%>
 </table>
<%end%>

<%cache "acta-stats-for-list-#{@actum_short_type}", :expires_in => 1.minutes do %>
	<h1>Listado de Actas: <%=@actum_short_type=="p"? "Presidentes" : "Alcalde de San Pedro Sula"%></h1>
	Actas procesadas: <%=Actum.where(:actum_type=>@actum_short_type).count%> (<%=number_with_precision((Actum.where(:actum_type=>@actum_short_type).count.to_f/@max_actas.to_f)*100,precision: 2)%>% de <%=@max_actas%> actas) | Actas verificadas por más de <%=VERIFICATIONS%> usuarios: <%=Actum.where(["verified_count>=? AND actum_type=?",VERIFICATIONS,@actum_short_type]).count%>
<%end%>

<%if @sumAll>0%>
	<%cache "acta-list-#{@actum_short_type}-#{params[:page]}", :expires_in => 2.minutes do %>
	<div class="pagination-centered" style="padding:20px 0px">
	  <%= will_paginate @acta, :inner_window=>6, :outer_window=>6%>
	</div>	
	<table class="stats-table">
	  <tr>
	    <th>Numero</th>
	    <th>Liberal</th>
	    <th>Nacional</th>
	    <th>Alianza de Oposición Contra la Dictadura (Libre-Pinu)</th>
	    <th>Pac</th>
	    <th>Ud</th>
	    <th>Dc</th>
	    <th>Alianza Patriótica</th>
	    <th>Vamos</th>
            <th>Frente Amplio</th>
	    <th>Blancos</th>
	    <th>Nulos</th>
	    <th>Suma Coincide?</th>
	    <th>Usuario</th>
	    <th>Hora de ingreso</th>
	    <th>Verif.</th>
	    <th></th>
	  </tr>
	<tr>
	   <td>Totales</td>
	   <td><b><%= @sumLiberal %></b></td>
	   <td><b><%= @sumNacional %></b></td>
	   <td><b><%= @sumLibre_Pinu %></b></td>
	   <td><b><%= @sumPac %></b></td>
	   <td><b><%= @sumUD%></b></td>
	   <td><b><%= @sumDC %></b></td>
	   <td><b><%= @sumAlianza_Patriotica %></b></td>
	   <td><b><%= @sumVamos %></b></td>
	   <td><b><%=@sumFrente_Amplio%></b></td>
	   <td><b><%= @sumBlancos %></b></td>
	   <td><b><%= @sumNulos %></b></td>
	   <td></td>
	   <td></td>
	   <td></td>
	   <td></td>
	   <td></td>
	</tr>
	<tr>
	   <td>Porcentajes</td>
	   <td><b><%= number_with_precision((@sumLiberal.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumNacional.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumLibre_Pinu.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumPac.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumUD.to_f/@sumAll.to_f)*100,precision: 2)%>%</b></td>
	   <td><b><%= number_with_precision((@sumDC.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumAlianza_Patriotica.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumVamos.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumFrente_Amplio.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumBlancos.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td><b><%= number_with_precision((@sumNulos.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
	   <td></td>
	   <td></td>
	   <td></td>
	   <td></td>
	   <td></td>
	</tr>
	<% @acta.each do |actum| %>
	  <tr>
	    <td><%="%05d" % actum.numero %></td>
	    <td><%= actum.liberal %></td>
	    <td><%= actum.nacional %></td>
	    <td><%= actum.libre_pinu %></td>
	    <td><%= actum.pac %></td>
	    <td><%= actum.ud %></td>
	    <td><%= actum.dc %></td>
	    <td><%= actum.alianza_patriotica %></td>
	    <td><%= actum.vamos %></td>
	    <td><%= actum.frente_amplio %></td>
	    <td><%= actum.blancos %></td>
	    <td><%= actum.nulos %></td>
	    <td><%= actum.is_sum_ok ? "Si" : "No"%></td> 
	    <td><a href="<%=user_profile_path(actum.user.id)%>"><img src="https://graph.facebook.com/<%=actum.user.uid%>/picture?width=35&height=35" alt="<%=actum.user.shortname%>" title="<%=actum.user.shortname%>"></a></td>
	    <td><%=actum.created_at.strftime("%d/%b/%Y")%><br/>
	        <%=actum.created_at.strftime("%k:%M:%S")%></td>
	    <td><%= actum.verified_count %> / <%=VERIFICATIONS%></td>
	    <td>
		      <%= link_to actum_type_path(:type=>Actum.full_type(actum.actum_type),:id=>actum.numero) do %><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> 
			  <%if actum.verified_count>=VERIFICATIONS or actum.user_id==current_user.id%>
			     Ver
			  <%else%>
			     Validar
			  <%end%>
			  </button><%end%>
			</td>
		  </tr>
		<% end %>

		<tr>
		   <td>Totales</td>
		   <td><b><%= @sumLiberal %></b></td>
		   <td><b><%= @sumNacional %></b></td>
		   <td><b><%= @sumLibre_Pinu %></b></td>
		   <td><b><%= @sumPac %></b></td>
		   <td><b><%= @sumUD%></b></td>
		   <td><b><%= @sumDC %></b></td>
		   <td><b><%= @sumAlianza_Patriotica %></b></td>
		   <td><b><%= @sumVamos %></b></td>
		   <td><b><%=@sumFrente_Amplio%></b></td>
		   <td><b><%= @sumBlancos %></b></td>
		   <td><b><%= @sumNulos %></b></td>
		   <td></td>
		   <td></td>
		   <td></td>
		   <td></td>
		   <td></td>
		</tr>
		<tr>
		   <td>Porcentajes</td>
		   <td><b><%= number_with_precision((@sumLiberal.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumNacional.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumLibre_Pinu.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumPac.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumUD.to_f/@sumAll.to_f)*100,precision: 2)%>%</b></td>
		   <td><b><%= number_with_precision((@sumDC.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumAlianza_Patriotica.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumVamos.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumFrente_Amplio.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumBlancos.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td><b><%= number_with_precision((@sumNulos.to_f/@sumAll.to_f)*100,precision: 2) %>%</b></td>
		   <td></td>
		   <td></td>
		   <td></td>
		   <td></td>
		   <td></td>
		</tr>
		</table>

		<div class="pagination-centered" style="padding:20px 0px">
		  <%= will_paginate @acta, :inner_window=>6, :outer_window=>6%>
		</div>
	<%end%>
<%end%>
