
<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @actum.numero %>
</p>

<p>
  <b>Liberal:</b>
  <%= @actum.liberal %>
</p>

<p>
  <b>Nacional:</b>
  <%= @actum.nacional %>
</p>

<p>
  <b>Libre:</b>
  <%= @actum.libre %>
</p>

<p>
  <b>Pac:</b>
  <%= @actum.pac %>
</p>

<p>
  <b>Ud:</b>
  <%= @actum.ud %>
</p>

<p>
  <b>Dc:</b>
  <%= @actum.dc %>
</p>

<p>
  <b>Alianza:</b>
  <%= @actum.alianza %>
</p>

<p>
  <b>Pinu:</b>
  <%= @actum.pinu %>
</p>

<p>
  <b>Verified:</b>
  <%= @actum.verified %>
</p>


<%= link_to 'Edit', edit_actum_path(@actum) %> |
<%= link_to 'Back', acta_path %>
