<h1>Listing users</h1>

<table>
  <tr>
    <th>FB</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Actas</th>
    <th>Is Admin?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><a href="http://facebook.com/<%=user.uid%>" target="_blank"><img src="https://graph.facebook.com/<%=user.uid%>/picture?width=35&height=35"></a></td>
    <td><%= user.name %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.actum.count %></td>
    <td><%= user.is_admin %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<% end %>
</table>