<div>
	<h1 class="center">Resultados Actuales</h1>
	<h3 >
		Actas procesadas: <%=Actum.where(:actum_type=>"p").count%>  de <%=MAX_ACTAS%> actas <%=number_with_precision((Actum.where(:actum_type=>"p").count.to_f/MAX_ACTAS.to_f)*100,precision: 2)%>%
	</h3>
	
		<div class="progress">
		  <div class="progress-bar progress-bar-success" style="width: <%=number_with_precision((Actum.where(:actum_type=>"p").count.to_f/MAX_ACTAS.to_f)*100,precision: 2)%>%">
		    <span class="sr-only"><%=number_with_precision((Actum.where(:actum_type=>"p").count.to_f/MAX_ACTAS.to_f)*100,precision: 2)%>% Complete (success)</span>
		  </div>
		 
		</div>
		
		<h3 >
			Actas verificadas 3 veces: <%=Actum.where(["verified_count>=? AND actum_type=?",VERIFICATIONS,"p"]).count%> (<%=number_with_precision((Actum.where(["verified_count>=? AND actum_type=?",VERIFICATIONS,"p"]).count.to_f/Actum.where(:actum_type=>"p").count.to_f)*100,precision: 2)%>% de las actas digitadas)
		</h3>
	
			<div class="progress">
			  <div class="progress-bar progress-bar-success" style="width: <%=number_with_precision((Actum.where(["verified_count>=? AND actum_type=?",VERIFICATIONS,"p"]).count.to_f/Actum.where(:actum_type=>"p").count.to_f)*100,precision: 2)%>%">
			    <span class="sr-only"><%=number_with_precision((Actum.where(["verified_count>=? AND actum_type=?",VERIFICATIONS,"p"]).count.to_f/Actum.where(:actum_type=>"p").count.to_f)*100, precision:2)%> % Complete (success)</span>
			  </div>
			</div>
			
	<table class="table table-striped" >
	    <tbody><tr><th></th><th>Candidato(a)</th><th>Votos</th><th colspan="2">Porcentaje</th></tr>
		
	      <tr>
	        <td><a href="https://www.facebook.com/124300620957187" target="_blank"><img src="https://graph.facebook.com/124300620957187/picture" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/124300620957187" target="_blank">Juan Hernández - Nacional</a></td>
	        <td style="text-align:right"><%= @results[:nacional]%></td>

	        <td style="width:200px">
	          <div class="progress">
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:nacional].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:nacional].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
	      </tr>

	      <tr>
	        <td><a href="https://www.facebook.com/1644144785802801" target="_blank"><img src="https://graph.facebook.com/1644144785802801/picture" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/1644144785802801" target="_blank">Salvador Nasralla - Alianza de Oposición Contra La Dictadura (LIBRE-PINU)</a></td>
	        <td style="text-align:right"><%= @results[:libre_pinu] %></td>

	        <td style="width:200px">
	          <div class="progress" >
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:libre_pinu].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:libre_pinu].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
	      </tr>


	      <tr>
	        <td><a href="https://www.facebook.com/607812589389584" target="_blank"><img src="https://graph.facebook.com/607812589389584/picture" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/607812589389584" target="_blank">Luis Zelaya - Liberal</a></td>
	        <td style="text-align:right"><%= @results[:liberal] %></td>

	        <td style="width:200px">
	          <div class="progress">
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:liberal].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:liberal].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
      
	      </tr>

	      <tr>
	        <td><a href="https://www.facebook.com/167693046755457" target="_blank"><img src="https://graph.facebook.com/167693046755457/picture" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/167693046755457" target="_blank">Marlene Alvarenga - PAC</a></td>
	        <td style="text-align:right"><%= @results[:pac] %></td>

	        <td style="width:200px">
	          <div class="progress">
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:pac].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:pac].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
	      </tr>
	
	      <tr>
	        <td><a href="https://www.facebook.com/299457643846248" target="_blank"><img src="https://graph.facebook.com/299457643846248/picture" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/299457643846248" target="_blank">Eliseo Reyes - VAMOS</a></td>
	        <td style="text-align:right"><%= @results[:vamos] %></td>

	        <td style="width:200px">
	          <div class="progress" >
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:vamos].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:vamos].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
      
	      </tr>
	
	      <tr>
	        <td><a href="https://www.facebook.com/146827225496682" target="_blank"><img src="https://resultadosgenerales2017.tse.hn/candidatos/0318195700057.JPG" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/146827225496682" target="_blank">Romeo Vásquez - Alianza Patriótica</a></td>
	        <td style="text-align:right"><%=@results[:alianza_patriotica] %></td>

	        <td style="width:200px">
	          <div class="progress" >
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:alianza_patriotica].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:alianza_patriotica].to_f/@results[:total].to_f*100.0).round(2) %>%</td>

	      </tr>

	      <tr>
	        <td><a href="https://www.facebook.com/100007439388282" target="_blank"><img src="https://resultadosgenerales2017.tse.hn/candidatos/0605195800105.JPG" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/100007439388282" target="_blank">Lucas Aguilera - DC</a></td>
	        <td style="text-align:right"><%= @results[:dc] %></td>

	        <td style="width:200px">
	          <div class="progress">
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:dc].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:dc].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
      
	      </tr>
	
	      <tr>
	        <td><a href="https://www.facebook.com/2019348681409468" target="_blank"><img src="https://graph.facebook.com/2019348681409468/picture" class="img-circle"></a></td>
	        <td><a href="https://www.facebook.com/2019348681409468" target="_blank">Alfonso Díaz - UD</a></td>
	        <td style="text-align:right"><%= @results[:ud] %></td>

	        <td style="width:200px">
	          <div class="progress " >
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:ud].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:ud].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
      
	      </tr>

	      <tr>
	        <td><a href="" target="_blank"><img src="https://resultadosgenerales2017.tse.hn/candidatos/0801198704025.JPG" class="img-circle"></a></td>
	        <td><a href="" target="_blank">Isaías Fonseca Aguilar - Frente Amplio</a></td>
	        <td style="text-align:right"><%= @results[:frente_amplio] %></td>

	        <td style="width:200px">
	          <div class="progress " >
	            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:frente_amplio].to_f/@results[:total].to_f*100.0).round(2) %>%">
	            </div>
	          </div>
	        </td>
	        <td style="text-align:right"><%= (@results[:frente_amplio].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
      
	      </tr>


	    <tr>

	      <td></td>
	      <td>Nulos</td>
	      <td style="text-align:right"><%= @results[:nulos] %></td>
          
	      <td style="width:200px">
	        <div class="progress ">
	          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:nulos].to_f/@results[:total].to_f*100.0).round(2) %>%">
	          </div>
	        </div>
	      </td>
	      <td style="text-align:right"><%= (@results[:nulos].to_f/@results[:total].to_f*100.0).round(2) %>%</td>
    
	      </tr>

	    <tr>

	      <td>  </td>
	      <td>Blancos</td>
	      <td style="text-align:right"><%= @results[:blancos] %></td>
          
	      <td style="width:200px">
	        <div class="progress">
	          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@results[:blancos].to_f/@results[:total].to_f*100.0).round(2)%> %">
	          </div>
	        </div>
	      </td>
	      <td style="text-align:right"><%= (@results[:blancos].to_f/@results[:total].to_f*100.0).round(2)%>%</td>
	      </tr>

	      <tr><th></th><th>Total</th><th style="text-align:right"><%= @results[:total] %></th><th colspan="2"></th></tr>
	  </tbody></table>
</div>
