
<img src="https://graph.facebook.com/<%=@user.uid%>/picture?width=35&height=35" alt="<%=@user.shortname%>" title="<%=@user.shortname%>">
<h2><%=@user.shortname%></h2>
<p>
Actas Ingresadas: <%=@user.actum.count%>
</p>

<p>
Actas Verificadas: <%=@user.verifications.count%>
</p>

