<!DOCTYPE html>
<html>
<head>
  <title>Conteo de Actas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-3164515-26', 'votosocial.org');
	  ga('send', 'pageview');

	</script>
	
<nav class="navbar navbar-default" role="navigation" style="padding:10px">
	<%if user_signed_in?%>
	<div class="navbar-left">
		<%=link_to acta_path do%><button type="button" class="btn btn-info btn-sm"> <span class="glyphicon glyphicon-list"></span> Listar Actas</button><%end%>

		<%=link_to new_actum_path do%><button type="button" class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-pencil"></span> Digitar Acta</button><%end%>

		<%=link_to "/acta/random" do%><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Validar Acta</button><%end%>

	</div>
	<%else%>
	<h4 class="text-muted">
	Sistema de Conteo de Actas</h4>
		<%end%>
	<div class="navbar-right">
	 	<%if user_signed_in?%>
			<%if current_user.is_admin%>		
			  <%=link_to users_path do%><button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-user"></span> User Admin</button><%end%><%end%>
			
		    <%= link_to(destroy_user_session_path, :method => :delete) do%><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-off"></span> Logout</button><%end%>
		
		    <img src="https://graph.facebook.com/<%=current_user.uid%>/picture?width=35&height=35"> 
		  </div>
		<%else%>
		  <div style="float:right">
			  <ul class="nav nav-pills pull-right">
			           <li class="active"><a href="#">Home</a></li>
			           <li><a href="#">About</a></li>
			           <li><a href="#">Contact</a></li>
			         </ul>
 		  </div>
		<%end%>
	</div>
</nav>

<div class="content" style="width:95%;margin:auto;">
 <%unless notice.blank?%>
 <div class="alert alert-success"><%= notice %></div>
  
 <%end%>
 <p class="alert"><%= alert %></p>
 <%= yield %>
</div>

</body>
</html>
