<!DOCTYPE html>
<html>
<head>
  <title>ConteoActas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="padding:10px">
	<div class="navbar-left">
		<%=link_to acta_path do%><button type="button" class="btn btn-info btn-sm"> <span class="glyphicon glyphicon-list"></span> Listar Actas</button><%end%>

		<%=link_to new_actum_path do%><button type="button" class="btn btn-success btn-sm"> <span class="glyphicon glyphicon-pencil"></span> Digital un acta</button><%end%>

		<%=link_to "/acta/random" do%><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Validar un acta</button><%end%>

	</div>
	<div class="navbar-right">
	 	<%if user_signed_in?%>
	        
		    <%if current_user.is_admin%>
		      <a href="/users">User admin</a> | 
		   <%end%>
		
		    <img src="https://graph.facebook.com/<%=current_user.uid%>/picture?width=35&height=35"> 
		    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		  </div>
		<%else%>
		  <div style="float:right">
		    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		  </div>
		<%end%>
	</div>
</nav>

<div class="content" style="width:90%;margin:auto;">
 <%unless notice.blank?%>
   <p class="notice"><%= notice %></p>
 <%end%>
 <p class="alert"><%= alert %></p>
 <%= yield %>
</div>

</body>
</html>
